@model ValidationAttributes.Models.Student

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form asp-action="Index" asp-controller="Home" method="post">
                <label asp-for="Name"></label>
                <input asp-for="Name"  placeholder="Enter Name " class="form-control" />
                <span asp-validation-for="Name"> </span>
                <br/> 
                <label asp-for="Age"></label>
                <input asp-for="Age" placeholder="EnterAge" class="form-control"/>
                <span asp-validation-for="Age"> </span>
                <br/>
                <label asp-for="PhNum">   </label>
                <input asp-for="PhNum" placeholder="Enter Phone Number " class="form-control"/>
                <span asp-validation-for="PhNum"></span>
                <br/>
                <label asp-for="Email">   </label>
                <input asp-for="Email" placeholder="Enter  Your Email ID " class="form-control" />
                <span asp-validation-for="Email"></span>
                <br />
                <label asp-for="Password">   </label>
                <input asp-for="Password" placeholder="Enter password " class="form-control" />
                <span asp-validation-for="Password"></span>
                <br />
                <label asp-for="ConfirmPassword" > </label> 
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Enter Confirm Password"/>
                <span asp-validation-for="ConfirmPassword"></span>
                <br/>
                <label asp-for="Url"> </label>
                <input asp-for="Url" class="form-control" placeholder="Enter Webiste Url" />
                <span asp-validation-for="Url"></span>
                <br />

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>
